@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#A3AB78,#BDE038);


}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(51, 61, 13, 0.596) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#10454F;
    text-align: center;
    text-shadow: 1px 1px 2px #030f11b0;


}

h2{
    color: #818274;


}

p{
    text-align: justify;
}